node_modules/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Jupyter
.ipynb_checkpoints/

# Env variables
.env
